
@model ProductsPageViewModel

@{
    ViewData["Title"] = "Products page";

}
@section Styles
{
    <link rel="stylesheet" href="~/css/shop_homepage.css" />
}
<h1>@ViewData["Title"]</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Categories: </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                    <a class="nav-link" asp-controller="ProductsPage" asp-action="Category" asp-route-categoryName="Mlecne vyrobky">Mlecne vyrobky</a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" asp-controller="ProductsPage" asp-action="Category" asp-route-categoryName="Mrazene potraviny">Mrazene potraviny</a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" asp-controller="ProductsPage" asp-action="Category" asp-route-categoryName="Napoje">Napoje</a>
            </li>
        </ul>
    </div>
</nav>


<p>Use this page for products.</p>


@{
    if (Model != null && Model.Products != null && Model.Products.Count > 0)
    {
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @{ for (int i = 0; i < Model.Products.Count; ++i)
                        {

                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="@Model.Products[i].ImageSource" alt="@Model.Products[i].ImageAlt" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">@Model.Products[i].Name</h5>
                                            <h6 class="fw-bolder">@Model.Products[i].Category</h6>
                                            <!-- Product price-->
                                            @Model.Products[i].Price Kč
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="Product" asp-action="Detail" asp-route-ID="@Model.Products[i].ID">View options</a></div>
                                    </div>
                                </div>
                            </div>


                        }
                    }
                </div>
            </div>
        </section>
    }
}

